{% if dellos_acl is defined and dellos_acl %}
  {% for val in dellos_acl %}
    {% if val.lineterminal is defined and val.lineterminal %}
      {% if val.type is defined and not val.type == "mac" %}
line vty
        {% if val.lineterminal.state is defined and val.lineterminal.state == "absent" %}
          {% if val.type == "ipv6" %}
 no ipv6 access-class {{ val.name }} 
          {% elif val.type == "ipv4" %}
 no ip access-class {{ val.name }} 
          {% endif %}
        {% else %}
          {% if val.type == "ipv6" %}
 ipv6 access-class {{ val.name }} 
          {% elif val.type == "ipv4" %}
 ip access-class {{ val.name }} 
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}

    {% if val.stage_ingress is defined and val.stage_ingress %}
      {% for intf in val.stage_ingress %}
        {% if intf.state is defined and intf.state == "absent" %}
          {% if intf.name is defined and intf.name %}
interface {{ intf.name }}
            {% if val.type is defined and val.type == "mac" %}
 no mac access-group {{ val.name }} in
            {% elif val.type is defined and val.type == "ipv6" %}
 no ipv6 access-group {{ val.name }} in
            {% else %}
 no ip access-group {{ val.name }} in
            {% endif %}
          {% endif %}
        {% else %}
          {% if intf.name is defined and intf.name %}
interface {{ intf.name }}
            {% if val.type is defined and val.type == "mac" %}
 mac access-group {{ val.name }} in
            {% elif val.type is defined and val.type == "ipv6" %}
 ipv6 access-group {{ val.name }} in
            {% else %}
 ip access-group {{ val.name }} in
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if val.stage_egress is defined and val.stage_egress %}
      {% for intf in val.stage_egress %}
        {% if intf.state is defined and intf.state == "absent" %}
          {% if intf.name is defined and intf.name %}
interface {{ intf.name }}
            {% if val.type is defined and val.type == "mac" %}
 no mac access-group {{ val.name }} out
            {% elif val.type is defined and val.type == "ipv6" %}
 no ipv6 access-group {{ val.name }} out
            {% else %}
 no ip access-group {{ val.name }} out
            {% endif %}
          {% endif %}
        {% else %}
          {% if intf.name is defined and intf.name %}
interface {{ intf.name }}
            {% if val.type is defined and val.type == "mac" %}
 mac access-group {{ val.name }} out
            {% elif val.type is defined and val.type == "ipv6" %}
 ipv6 access-group {{ val.name }} out
            {% else %}
 ip access-group {{ val.name }} out
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
